:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: black;
  background-color: rgb(204, 204, 204);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
